<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_image' %}">
            <i class="fa fa-fw fa-folder"></i>
            <span>Upload Image</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'your_images' %}">
            <i class="fa fa-fw fa-folder"></i>
            <span>Your Images</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'shared_images' %}">
            <i class="fa fa-fw fa-folder"></i>
            <span>Shared With You</span>
        </a>
    </li>
</ul>
